root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true
indent_style = tab

[*.js]
indent_style = tab

[*.jade]
indent_style = tab

[*.less]
indent_style = tab

[*.scss]
indent_style = tab
