doctype //if lt IE 7
html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
	// <![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Julala's Tuition
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// Place favicon.ico and apple-touch-icon.png in the root directory
		link(rel='stylesheet', href='styles/normalize.css')
		link(rel='stylesheet', href='styles/main.css')
		link(rel='stylesheet', href='styles/app.css')
		script(src='js/vendor/modernizr-2.6.2.min.js')
	body
		//if lt IE 7
			p.browsehappy
				| You are using an strong outdated browser. Please 
				a(href='http://browsehappy.com/') upgrade your browser
				| to improve your experience.
		// Add your site or application content here

		.nav: ul.nav-list
			li.nav-item: a.nav-link(href="/") Home
			li.nav-item: a.nav-link(href="/about") About
			li.nav-item: a.nav-link(href="/japanese") Japanese
			li.nav-item: a.nav-link(href="/music") Music
			li.nav-item: a.nav-link(href="/calendar") Calendar
			li.nav-item: a.nav-link(href="/contact") Contact

		.heading Julala's Tuition

		block content

		.footer
			p 93 Made Pty Ltd © 2009-15. All Rights Reserved. ABN 43 130 700 284 (ACN 130 700 284)

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script.
			window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\\/script>')
		script(src='js/plugins.js')
		//script(src='js/main.js')

		// Google Analytics: change UA-XXXXX-X to be your site's ID.
		//script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');

