// Navigation Bar

.nav {
	background-color: #191919;
}

.nav-list {
	padding: 0 10px;
}

.nav-item {
	display: inline-block;
	padding: 10px 20px;
	&:hover {
		color: purple;
	}
}

.nav-link {
	text-decoration: none;
	color: #FFFFFF;
}
